<div align="center">{+new Link().toFile("index.html").withText("Class Index")+} | {+new Link().toFile("files.html").withText("File Index")+}</div>

<h2 class="heading1">Classes</h2>

<ul class="classList">
	<for each="thisClass" in="data">
		<li>{!
			output += new Link().toClass(thisClass.alias);
		!}</li>
	</for>
</ul>
